* {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    --primary: #ff5a5a;
    --secondary: #151726;
    --bodybg: #19142a;
    --panelbody: #242843;
    --alt: #5660a1;

}

body {
	background-image: url('/img/bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: var(--bodybg);
	color: white;
}

a {
	transition: ease 0.4s;
	text-decoration: none;
}

p {
	color: #c5d3de;
}

.remove-padding {
	padding: 0;
}

.remove-margin {
	margin: 0;
}

[class*="col-"] {
	margin-bottom: 20px;
	margin-top: 20px;
}

.top-col {
	margin: 0;
}

.side-col {
	margin-top: 0;
}

/* navbar */

.nav-top {
	background: none;
	border: none;
}

.nav-logo {
	/*padding-left: 5vw;*/
	padding-top: 1vh;
	padding-bottom: 1vh;
	height: 10vh;
}

.nav-main{
	background-color: var(--secondary);
	opacity: 0.8;
	border-color: var(--secondary);
}
.nav-main-menu>li>a {
	line-height: 10vh;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 2rem;
	
}
.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-text {
	color: white;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: var(--primary);
}


/* acct navbar */
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.dropdown-menu>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a, 
.navbar-inverse .navbar-text {
	color: var(--primary);
}


.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

.dropdown-menu {
	z-index: 9999;
	background-color: var(--secondary);
	color: white;
}


/* page styles */

.post-row {
	border-bottom: 1px var(--alt) solid;
	/*min-height: 20vh;*/
}

.thumb {
	position: relative;
	width: 170px;
	height: 150px;
	overflow: hidden;
	margin-right: 10px;
}

.thumb img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%, -50%);
}

.thumb span.thumb-platform {
	position: absolute;
	top: 10%;
	width: 50%;
	background-color: var(--primary);
	color: white;
	text-align: center;
}

.thumb>span.PC {
	background-color: #0000ff;
}

.thumb>span.XBOX {
	background-color: #00b842;
}

.thumb>span.PS4 {
	background-color: #ffc52c;
	color: var(--secondary);
}

.thumb>span.SWITCH {
	background-color: #e12c2c;
}


.side-thumb {
	position: relative;
	width: 100px;
	height: 80px;
	overflow: hidden;
	margin-right: 10px;
}

.side-thumb img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%, -50%);
}

.search {
	border: none;
	border-radius: 0;
}

.read-more {
	color: var(--primary);
}

a.read-more:focus, 
a.read-more:hover {
	color: white;
	text-decoration: none;
}

.post-preview {
	font-weight: 200;
}


.post-preview-link {
	color: white;
	
}

.post-preview-link:focus, 
.post-preview-link:hover {
	color: var(--primary);
	text-decoration: none;
}

.post-preview-time {
	color: white;
}

.platform {
	/*z-index: 9999;*/
}

/* login/register */

.panel-login {
	background-color: var(--secondary);
	color: white;
	border: none;
}

.hr-login {
	border-top-color: black;
}

.btn-link, 
.btn-facebook, 
.btn-twitter, 
.btn-github, 
.control-label {
	color: white;
	text-decoration: none;
}

.btn-link:focus, 
.btn-link:hover, 
.btn-facebook:focus, 
.btn-facebook:hover, 
.btn-twitter:focus, 
.btn-twitter:hover, 
.btn-github:focus, 
.btn-github:hover {
	color: var(--primary);
	text-decoration: none;
}

/* headings with line */
h2, h4 {
	overflow: hidden;
	text-align: left;
	color: white;
}

h2:before, h4:before {
	right: 0.5em;
	margin-left: -100%;
}

h2:after, h4:after {
	background-color: var(--primary);
	content: "";
	display: inline-block;
	height: 3px;
	position: relative;
	width: 100%;
	left: 0.5em;
	margin-right: -50%;
}

.h2-alt	 {
	text-align: right;
}
.h2-alt:before {
 	margin-left: -50%;
 	vertical-align: top;
}

.h2-alt:after {
 	margin-right: -100%;
}



/* buttons */

.btn {
	padding-top: 7px;
	padding-bottom: 7px;
}

.btn-default {
	background-color: var(--secondary);
	color: white;
	border-radius: 0;
	border: none;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open>.dropdown-toggle.btn-default {
    color: var(--secondary);
    background-color: var(--primary);
    
}

.btn-default-inv {
	background-color: var(--primary);
	color: var(--secondary);
	border-radius: 0;
	border: none;
}

.btn-default-inv:hover, 
.btn-default-inv:focus, 
.btn-default-inv:active, 
.btn-default-inv.active, 
.open>.dropdown-toggle.btn-default-inv {
    color: white;
    background-color: var(--secondary);
    
}

.cat-btn {
	width: 100%;
}

/* images */

.img-size-post {
	min-width: 100%;
	overflow: hidden;
	max-height: 40vh;
}



/* form styles */
.news-label, 
.post-time {
	color: var(--primary);
}

input[type=file] {
	width: 400px;
	background-color: transparent;
	border: none;
	color: white;
	padding-left: 0;
}

input[type=submit] {
	background: var(--primary);
	text-decoration: none;
	border: none;
	padding: 10px;
	color: var(--secondary);
	transition: ease 0.4s;
}

input[type=submit]:hover, input[type=submit]:active {
	background: var(--secondary);
	color: white;
}

textarea {
	width: 100%;
	resize: vertical;
}

.text-area {
	background-color: var(--bodybg);
	border-radius: 0;
	border-color: var(--alt);
}

.text-area:focus {
	background-color: var(--bodybg);
	border-color: var(--secondary);
	box-shadow: inset 0 1px 1px var(--alt), 0 0 8px var(--primary);
	color: white;
}
/* panels */

.panel-default, .panel-heading {
	border: none;
}
.panel-default>.panel-heading {
	background-color: var(--secondary);
	color: white;
	padding-right: 0;
}

.panel-body {
	background-color: var(--panelbody);
	color: white;
	min-height: 200px;
}

/* posts */
.post {
	padding-top: 20px;
}

.author, .text-primary {
	color: var(--primary);
}

.txt-space {
	margin-right: 50px;
}

.txt-space2 {
	margin-right: 20px;
}

/* comments */
.comment-count {
	color: var(--primary);
	margin-right: 10px;
}

.comment-row {
	border-bottom: 1px var(--alt) solid;
}

